<template>
	<article class="media">
		<figure class="media-left">
			<span class="icon is-medium">
				<i class="fa fa-users"></i>
			</span>
		</figure>
		<div class="media-content">
			<div class="content">
				<p v-if="isData = true" style="text-align:justify">
					<strong>{{info.author}}</strong>
					<br />
					{{info.content}}
					<br />
					<small>
						<a>Like</a> ·
						<a>Reply</a> · 3 hrs
					</small>
				</p>
				<p v-else><strong style="color:blueviolet">Pas de commentaires disponibles pour cette recherche ... </strong></p>
			</div>
		</div>
	</article>
</template>

<script>
export default {
	name: "CommentaireInside",
	props: {
		information: {}
	},
	data() {
		return {
			info: [],
			isData: Boolean
		};
	},
	created() {
		this.isData = false;
		this.info = this.information;
		console.log(this.info)
		if(this.info.length > 0 ){
			this.isData = true;
		}
		console.log(this.isData);
	}
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans', sans-serif;
}

</style>