<template>
	<div class="column" id="app">
		<transition name="fade">
			<!-- Modal -->
			<div :class="{ 'is-active' : isActive, modal : modal }" id="modal" v-if="isVisible">
				<div class="modal-background"></div>
				<div class="modal-card">
					<header class="modal-card-head">
						<p class="modal-card-title">
							<strong style="color:blueviolet">Commentaires</strong>
						</p>
						<button @click="closeModal" class="delete" aria-label="close"></button>
					</header>
					<section class="modal-card-body">
						<commentaire-content v-for="mesInfos in infoCom" v-bind:key="mesInfos" :information="mesInfos"></commentaire-content>
					</section>
					<footer class="modal-card-foot">
						<button @click="closeModal" class="button is-danger is-rounded">Quitter</button>
					</footer>
				</div>
			</div>
		</transition>

		<button type="button" class="button is-info" @click="showModal">Lire les commentaires</button>
	</div>
</template>

<script>
import CommentaireContent from "./CommentaireInside.vue";
export default {
	name: "Commentaire",
	components: {
		CommentaireContent
	},
	props: {
		id: String
	},
	data() {
		return {
			modal: true,
			isActive: false,
			isVisible: false,
			theIdMovie: "",
      infoCom: [],
      lang: ""
		};
	},
	created() {
    this.lang = this.$t('lang');
		this.theIdMovie = this.id;
		console.log(this.theIdMovie);
		var api_key = "515c074644f61362e6d98769af640004";
		this.axios
			.get(
				"https://api.themoviedb.org/3/movie/" +
					this.theIdMovie +
					"/reviews?api_key=" +
					api_key + "&language=en-US&page=1"
			)
      
			.then(response => {
				console.log(response.data.results);
				if (response.data.results.length > 0) {
					this.infoCom = [];
					for (let i = 0; i < response.data.results.length; i++) {
						var data = response.data.results[i];
						this.infoCom.push(data);
					}
				}
			});
	},
	methods: {
		showModal: function() {
			this.isActive = true;
			this.isVisible = true;
		},
		closeModal: function() {
			this.isActive = false;
			this.isVisible = false;
		}
	}
};
</script>


<style scoped>
.fade-enter-active,
.fade-leave-active {
	transition: opacity 1s;
}

.fade-enter,
.fade-leave-active {
	opacity: 0;
}

.modal-background {
	opacity: 0.2;
}
</style>