<template>
	<div id="connexion">
		<section class="hero is-primary is-fullheight">
			<section class="section">
				<div class="container">
					<h1 class="title has-text-centered">{{$t('Pages.Connexion.connexion')}}</h1>
				</div>
			</section>
			<div class="hero-body">
				<div class="container" style="margin-top:-10%">
					<div class="columns is-centered">
						<div class="column is-10-tablet is-9-desktop is-6-widescreen">
							<form action class="box">
								<div class="field">
									<label for class="label">{{$t('Pages.Connexion.mail')}}</label>
									<div class="control has-icons-left">
										<input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required />
										<span class="icon is-small is-left">
											<i class="fa fa-envelope"></i>
										</span>
									</div>
								</div>
								<div class="field">
									<label for class="label">{{$t('Pages.Connexion.password')}}</label>
									<div class="control has-icons-left">
										<input type="password" placeholder="*******" class="input" required />
										<span class="icon is-small is-left">
											<i class="fa fa-lock"></i>
										</span>
									</div>
								</div>
								<div class="field">
									<p>
										<router-link style="color:white;" :to="{name : 'Inscription'}">
											<a class="has-text-info" href="html_images.asp">{{$t('Pages.Connexion.cliquezici')}}</a>
										</router-link>{{$t('Pages.Connexion.pourInscrire')}}
									</p>
								</div>
								<button class="button is-primary">{{$t('Pages.Connexion.login')}}</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>


<script>
export default {
	name: "Connexion"
};
</script>

<style scoped>
.button {
	border-radius: 30px;
	padding-left: 1em;
	padding-right: 1em;
	display: block;
	width: 100%;
	height: 100%;
	margin-top: 4%;
	margin-right: 3%;
	font-weight: bold;
}
.inputText {
	font-family: "Times New Roman", Times, serif;
	font-size: medium;
	color: black;
	font-weight: bold;
}
.link {
	color: rgb(181, 97, 236);
} /* CSS link color (red) */
.link:hover {
	color: rgb(21, 162, 218);
} /* CSS link hover (green) */
</style>
