<template>
	<div id="credit">
		<section class="hero is-dark is-large">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">{{ $t('Pages.Credit.project') }}</h1>
					<h2
						class="subtitle"
					>{{ $t('Pages.Credit.personal') }}</h2>
				</div>
			</div>
		</section>
	</div>
</template>


<script>
export default {
    name: "Credit"
}
</script>