<template>
	<div>
		<section class="hero is-light is-large">
			<div class="hero-body">
				<div class="container">
					<section class="section">
						<div class="container">
							<h1 id="" class="title">Informations :</h1>
						</div>
					</section>
					<div class="card">
						<div class="card-content">
							<div class="media">
								<div class="media-left">
									<figure class="image is-256x256">
										<img :src="src" alt="Placeholder image" />
									</figure>
								</div>
								<div class="media-content ">
									<p class="title is-4 has-text-left"><strong style="color:blueviolet">{{movies.original_title}}</strong></p>
									<br>
									<p class="title is-6 has-text-left">{{$t('Pages.DetailMovie.dateSortie')}} {{movies.release_date}} <strong style="float:right" class='has-text-right'>{{$t('Pages.DetailMovie.acteurs')}}</strong></p>
									<p class="title is-6 has-text-left">{{$t('Pages.DetailMovie.langue')}}{{movies.original_language}}</p>
									<p class="title is-6 has-text-left">{{$t('Pages.DetailMovie.notePublique')}} {{movies.vote_average}} / 10</p>
									<p class="title is-6 has-text-left">{{$t('Pages.DetailMovie.nbVotes')}}{{movies.vote_count}}</p>
			
								</div>
								<SliderActor v-if="ok" :acteurToSlide="acteur" ></SliderActor>
							</div>
							<div>
								<p class="title is-4 has-text-left">Description</p>
								<p class="subtitle is-6 has-text-justified">{{movies.overview}}</p>
								<Commentaire style="text-align:right;" :id="movies.id"></Commentaire>
							</div>

						</div>
					</div>
				</div>
			
			</div>
		</section>
		<section class="section">
			<div class="container">
				<h1 class="title">Trailer :</h1>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<VideoPlayer v-bind:urlFilm="url"></VideoPlayer>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<h1 class="title">{{$t('Pages.DetailMovie.recommandations')}}</h1>
			</div>
		</section>
		<Slider :info="recom"></Slider>
	</div>
</template>

<script>
import VideoPlayer from "./VideoPlayer.vue";
import Slider from "./Slider.vue";
import SliderActor from "./SliderActor.vue";
import Commentaire from "./Commentaire.vue"

export default {
	name: "DetailMovie",
	components: {
		VideoPlayer,
		SliderActor,
		Slider,
		Commentaire
	},
	props: {
		urlFilm: String,
		recommand: {},
		movie: {}
	},
	data() {
		return {
			url: "",
			src: "",
			ok: Boolean,
			recom: [],
			movies: {},
			acteur: []
		};
	},
	created() {
		this.movies = this.movie;
		this.ok = false;
	
		this.src = "http://image.tmdb.org/t/p/w185/" + this.movies.poster_path;
		console.log(this.movie);
		this.url = "https://www.youtube.com/watch?v=" + this.urlFilm;
		for (let i = 0; i < this.recommand.length; i++) {
			this.recom.push(this.recommand[i]);
			//console.log("Recommandation : " + this.recommand[i]);
		}

		//https://api.themoviedb.org/3/movie/99935/credits?api_key=515c074644f61362e6d98769af640004
		var api_key = "515c074644f61362e6d98769af640004";
		this.axios
			.get(
				"https://api.themoviedb.org/3/movie/" +
					this.movies.id +
					"/credits?api_key=" +
					api_key
			)
			
			.then(response => {
				console.log(response);
				if (response.data.cast.length > 0) {
					this.acteur = [];
					for (let i = 0; i < response.data.cast.length; i++) {
						var data = response.data.cast[i];
						this.acteur.push(data);
					}
					if(this.acteur.length > 0 ){
						this.ok = true;
					}
					console.log("Mes acteurs : " + this.acteur);
				}
			});
	}
};
</script>