<template>
	<div id="inscription">
		<section class="hero is-primary is-fullheight">
            <section class="section">
			<div class="container">
				<h1 class="title has-text-centered">{{$t('Pages.Inscription.inscriptionTitre')}}</h1>
			</div>
		</section>
			<div class="hero-body">
				<div class="container" style="margin-top:-5%">
					<div class="columns is-centered">
						<div class="column is-10-tablet is-9-desktop is-6-widescreen">
							<form action class="box">
								<div class="field">
									<label for class="label">{{$t('Pages.Inscription.mail')}}</label>
									<div class="control has-icons-left">
										<input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required />
										<span class="icon is-small is-left">
											<i class="fa fa-envelope"></i>
										</span>
									</div>
								</div>
								<div class="label">{{$t('Pages.Inscription.tel')}}</div>
								<div class="field-body">
									<div class="field is-expanded">
										<div class="field has-addons">
											<p class="control">
												<a class="button is-static">+44</a>
											</p>
											<p class="control is-expanded">
												<input class="input" type="tel" :placeholder="$t('Pages.Inscription.votreTel')" />
											</p>
										</div>
										<p class="help has-text-danger">{{$t('Pages.Inscription.premierZero')}}</p>
									</div>
								</div>
								<div class="field">
									<label for class="label">{{$t('Pages.Inscription.password')}}</label>
									<div class="control has-icons-left">
										<input type="password" placeholder="*******" class="input" required />
										<span class="icon is-small is-left">
											<i class="fa fa-lock"></i>
										</span>
									</div>
								</div>

                                <div class="field">
									<label for class="label">{{$t('Pages.Inscription.confirmPassword')}}</label>
									<div class="control has-icons-left">
										<input type="password" placeholder="*******" class="input" required />
										<span class="icon is-small is-left">
											<i class="fa fa-lock"></i>
										</span>
									</div>
								</div>
								<button class="button is-primary">{{$t('Pages.Inscription.inscription')}}</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	name: "Inscription"
};
</script>

<style scoped>
.button{
	border-radius: 30px;
	padding-left: 1em;
	padding-right: 1em;
	display: block;
	width: 100%;
	height: 100%;
}
.inputText{
	font-family: "Times New Roman", Times, serif;
	font-size: medium;
	color:black;
	font-weight: bold;
}
</style>