<template>
	<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item title">
				<strong style="color:white">Movie Finding</strong>
			</a>
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div class="navbar-menu">
			<div class="navbar-start" style="flex-grow: 1; justify-content: center;">
				<a class="navbar-item subtitle">
					<router-link style="color:white;" :to="{name : 'Search'}">
						<strong style="color:white;">{{$t('Pages.Navbar.films')}}</strong>
					</router-link>
				</a>
				<a class="navbar-item subtitle">
					<router-link style="color:white;" :to="{name : 'SearchSeries'}">
						<strong style="color:white;">{{$t('Pages.Navbar.series')}}</strong>
					</router-link>
				</a>
				<a class="navbar-item subtitle">
					<router-link style="color:white;" :to="{name : 'Credit'}">
						<strong style="color:white;">{{$t('Pages.Navbar.credit')}}</strong>
					</router-link>
				</a>
			</div>
			<div class="navbar-end">
				<div class="navbar-item">
					<div class="field is-grouped is-grouped-right">
						
					<div class="select is-rounded" style="margin-right:5%">
							<TheLanguageSwitcher></TheLanguageSwitcher>
						</div>
					<div class="buttons" >
						<a class="button is-info " style="margin-left:2%">
							<router-link style="color:white;" :to="{name : 'Connexion'}">
								<strong>{{ $t('Pages.Navbar.seConnecter') }}</strong>
							</router-link>
						</a>
					</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</template>

<script>
import TheLanguageSwitcher from "./TheLanguageSwitcher.vue";
export default {
	name: "Navbar",
	components: {
		TheLanguageSwitcher
	}
};
</script>

<style scoped>
.navbar-item.navbar-center {
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
}
.box:not(:last-child),
.content:not(:last-child),
.notification:not(:last-child),
.progress:not(:last-child),
.table:not(:last-child),
.table-container:not(:last-child),
.title:not(:last-child),
.subtitle:not(:last-child),
.block:not(:last-child),
.highlight:not(:last-child),
.breadcrumb:not(:last-child),
.level:not(:last-child),
.list:not(:last-child),
.message:not(:last-child),
.pagination:not(:last-child),
.tabs:not(:last-child) {
	margin-bottom: 0rem;
}
</style>