<template>
	<div id="marg">
		<section class="section">
			<div class="container">
				<h1 class="title">{{ $t('Pages.SearchSeries.title') }}</h1>
				<h2 class="subtitle">{{ $t('Pages.SearchSeries.subtitle') }}</h2>
			</div>
		</section>
		<section>
			<b-field grouped>
				<b-autocomplete
					rounded
					v-model="texte"
					@input="autocomplete(texte)"
					:data="filteredDataArray"
					:placeholder="$t('Pages.SearchSeries.chercherSerie')"
					@select="option => selected = option"
				>
					<template slot="empty">{{$t('Pages.SearchSeries.seriesCorrespond')}}</template>
				</b-autocomplete>
				<button id="search" @click="getData(texte)" class="button is-primary is-rounded">Rechercher</button>
			</b-field>
			<p v-if="show">
				<strong class="has-text-centered" style="color:red">{{infos.length}} {{$t('Pages.SearchSeries.resultats')}}</strong>
			</p>
		</section>
		<b-progress style="display:block; margin: auto; width: 75%" v-if="loading"></b-progress>
		<div class="section">
			<div class="columns is-multiline">
				<SeriesCard v-for="info in infos" v-bind:key="info" v-bind:title="info"></SeriesCard>
					<button v-if="scroll" id="scroll" class="button is-rounded is-dark is-small" v-scroll-to="{  el: '#marg', duration: 2000 }">^</button>
			</div>
		</div>
	</div>
</template>

<script>
import SeriesCard from "./SeriesCard.vue";
export default {
	name: "Search",
	components: {
		SeriesCard
	},
	props: {
		msg: String
	},
	data() {
		return {
			texte: "",
			infos: [],
			autocompleteInfo: [],
			occurence: 0,
			loading: false,
			show: false,
			lang: "",
			scroll: false
		};
	},
	methods: {
		//https://api.themoviedb.org/3/search/movie?api_key=515c074644f61362e6d98769af640004&query=Avengers&language=fr-FR&region=FR&append_to_response=videos,images
		//https://api.themoviedb.org/3/search/tv?api_key=515c074644f61362e6d98769af640004&language=fr-FR&query=Riverdale&page=1
				autocomplete(){
			this.lang = this.$t('lang');
			this.autocompleteInfo = [];
			var api_key = "515c074644f61362e6d98769af640004";
			this.axios
				.get(
					"https://api.themoviedb.org/3/search/tv?api_key=" +
						api_key +
						"&query=" +
						this.texte +
						"&language=" + this.lang
				)
				.then(response => {
					if (response.data.results.length > 0) {
						this.autocompleteInfo = [];
						for (let i = 0; i < response.data.results.length; i++) {
							var data = response.data.results[i].name;
							this.autocompleteInfo.push(data);
						}
						console.log(this.autocompleteInfo)
						return this.autocompleteInfo
					}
				});
		},
		getData() {
			this.lang = this.$t('lang');
			this.loading = true;
			this.infos = [];
			var api_key = "515c074644f61362e6d98769af640004";
			this.axios
				.get(
					"https://api.themoviedb.org/3/search/tv?api_key=" +
						api_key +
						"&query=" +
						this.texte +
						"&language=" + this.lang
				)
				.then(response => {
					if (response.data.results.length > 0) {
						this.$buefy.toast.open({
							message: "Recherche effectuer avec succès",
							type: "is-success"
						});
						this.infos = [];
						for (let i = 0; i < response.data.results.length; i++) {
							var data = response.data.results[i];
							this.infos.push(data);
						}
						this.loading = false;
					} else {
						this.loading = false;
						this.$buefy.toast.open({
							message:
								"Problème avec la série recherché '" +
								this.texte +
								"'",
							type: "is-danger"
						});
					}
					this.show = true;
					this.scroll = true;
				});
		}
	},
	computed: {
		filteredDataArray() {
			return this.autocompleteInfo.filter(option => {
				return (
					option
						.toString()
						.toLowerCase()
						.indexOf(this.texte.toLowerCase()) >= 0
				);
			});
		}
	}
};
</script>

<style scoped>
.field.is-grouped > .control:not(:last-child) {
	display: block;
	margin: 5% auto;
	width: 50em;
}
#btn{
	padding: 0;
	width: 3%;
	height: 5%;
}

#marg {
	margin-top: 6%;
}
#search {
	border-radius: 290486px;
	padding-left: 1em;
	padding-right: 1em;
	display: block;
	width: 15%;
	height: 15%;
	margin-top: 5%;
	margin-right: 3%;
}

a.top {
	position: fixed;
	opacity: 50%;
}
</style>