<template>
	<div class="column has-text-centered" :class="{'is-2' : nbS > 9}">
		<div @click="showModal" class="box" style="width: 100%;">
			<p class="subtitle is-6">
				<strong style="color:blueviolet">Saison {{info[0].season_number}}</strong>
			</p>
		</div>
		<transition name="fade">
			<!-- Modal -->
			<div :class="{ 'is-active' : isActive, modal : modal}" id="modal" v-if="isVisible">
				<div class="modal-background is-clipped"></div>
				<div class="modal-card">
					<header class="modal-card-head">
						<p class="modal-card-title">
							<strong style="color:blueviolet">Saison {{info[0].season_number}}</strong>
						</p>
						<button @click="closeModal" class="delete" aria-label="close"></button>
					</header>
					<section class="modal-card-body">
						<p class="has-text-justified"><strong>Nombre d'épisodes : </strong><strong style="color:red">{{info[0].episode_count}}</strong></p>
                        <hr>
                        <p class="has-text-justified"><strong>Description :</strong>
                        <br/>{{info[0].overview}}</p>
					</section>
				
				</div>
			</div>
		</transition>
	</div>
</template>

<script>
export default {
	name: "seasons",
	props: {
		infoOnSeason: {},
		nb:String
	},
	data() {
		return {
			info: [],
			modal: true,
			isActive: false,
			isVisible: false,
			tooMuchSeasons:false,
			ok: Boolean,
			nbS: ""
		};
	},
	created() {
		this.ok = false;
		this.nbS = this.nb;
		console.log(this.nbS);
		this.info.push(this.infoOnSeason);
	},
	methods: {
		showModal: function() {
			this.isActive = true;
			this.isVisible = true;
		},
		closeModal: function() {
			this.isActive = false;
			this.isVisible = false;
		}
	}
};
</script>

<style scoped>
.box {
	border-radius: 50% 20% / 10% 40%;
}
</style>