<template>
	<div class="column is-4 is-one-third">
		<router-link
			style="color:white;"
			:to="{name : 'DetailSerie', params: {urlFilm: listUrl, recommand: recommande, detailSerie:title }}"
		>
			<div class="card">
				<div class="card-content">
					<div class="media">
						<div class="media-left">
							<figure class="image is-256x256">
								<img :src="src" alt="Placeholder image" />
							</figure>
						</div>
						<div class="media-content">
							<p class="title is-4">{{titre.name}}</p>
						</div>
					</div>
					<div class="content">
						<a class="subtitle is-5" style="pointer-events: none;">
							<strong>Description :</strong>
						</a>
						<br />
						<p style="text-align: justify;">{{titre.overview}}</p>
						<p style="text-align: justify;" v-if="isUrl">
							<strong>Trailer :</strong> Oui
						</p>
						<p style="text-align: justify;" v-else>
							<strong>Trailer :</strong> Non
						</p>
						<a>@{{titre.name}}</a>.
						<a href="#">#{{titre.original_name}}</a>
						<br />
						<time>
							<strong>{{$t('Pages.SeriesCard.dateSortie')}}</strong>
							<strong style="color:blueviolet">{{titre.first_air_date}}</strong>
						</time>
					</div>
				</div>
			</div>
		</router-link>
	</div>
</template>

<script>
export default {
	name: "SeriesCard",
	props: {
		title: {}
	},
	data() {
		return {
			titre: {},
			src: "",
			poster: "",
			recommande: [],
			listUrl: "",
			lang: "",
			isUrl: false
		};
	},
	created() {
		this.lang = this.$t("lang");
		//https://api.themoviedb.org/3/movie/299536/videos?api_key=515c074644f61362e6d98769af640004&language=fr-FR
		this.titre = this.title;
		this.src = "http://image.tmdb.org/t/p/w185/" + this.title.poster_path;
		if (this.title.overview == "") {
			this.title.overview = "Pas de description pour le moment ... ";
		}
		var api_key = "515c074644f61362e6d98769af640004";
		this.axios
			.get(
				"https://api.themoviedb.org/3/tv/" +
					this.title.id +
					"/videos?api_key=" +
					api_key +
					"&language=" +
					this.lang
			)
			.then(response => {
				if (response.data.results.length > 0) {
					this.listUrl = [];
					var data = response.data.results[0].key;
					this.listUrl = data;
					this.isUrl = true;
				}
			});
		this.axios
			.get(
				"https://api.themoviedb.org/3/tv/" +
					this.title.id +
					"/recommendations?api_key=" +
					api_key +
					"&language=" +
					this.lang
			)
			.then(response => {
				if (response.data.results.length > 0) {
					this.recommande = [];
					for (let i = 0; i < response.data.results.length; i++) {
						var data2 = response.data.results[i];
						this.recommande.push(data2);
					}
				}
			});
	}
};
</script>



<style scoped>
* {
	transition: all 0 ease-out;
}

.card {
	display: block;
	top: 0px;
	position: relative;
	text-decoration: none;
	z-index: 0;
	overflow: hidden;
	height: 100%;
	border: 1px solid #f2f8f9;
}

.card:hover {
	transition: all 0.2s ease-out;
	box-shadow: 0px 6px 12px rgba(38, 38, 38, 0.2);
	top: -4px;
	border: 1px solid rgb(121, 87, 213);
	background-color: white;
}
</style>
