<template>
		<carousel-3d :width="128" :height="215">
			<slide class="slide" v-for="(acteurs, i) in carouselsOfActors" :index="i" :key="i">
                <p ><strong style="color:white">{{acteurs.NomActeur}}</strong></p>
                <figure class="image is-128x128">
                    <img :src="acteurs.urlPhoto">
                </figure>
			</slide>
		</carousel-3d>
</template>

<script>
import { Carousel3d, Slide } from "vue-carousel-3d";
export default {
    name: "SliderActor",
    components: {
		Carousel3d,
		Slide
	},
	props: {
		acteurToSlide: {}
	},
	data() {
		return {
			carouselsOfActors: [],
			acteurS: {}
		};
	},
	mounted() {
        this.acteurS = this.acteurToSlide;
        console.log(this.acteurS[1].character);
		for (let i = 0; i < this.acteurS.length; i++) {
			this.carouselsOfActors.push({
				urlPhoto:
					"http://image.tmdb.org/t/p/w185" +
					this.acteurS[i].profile_path,
				NomActeur: this.acteurS[i].name,
				NomDansLaSerie: this.acteurS[i].character
			});
		}
	}
};
</script>

<style lang="scss" scoped>
div.carousel-3d-container {
    height:50%;
    width:40%;

}
  .carousel-3d-slide {
      background-color: #000000;
    }
</style>