<template>
	<div style="padding:2%; position:relative; background-color:#000928">
		<b-carousel style="width:20%; display:block; margin:5% auto;">
			<b-carousel-item v-for="(carousel, i) in carousels" :key="i">
				<div class="card" style="width: 100%;background-color:#000928;  margin-bottom:7%">
					<div class="card-image" >
						<figure class="image is-256x256">
							<img :src="carousel.url"/>
							<div>{{carousel.titre}}</div>
						</figure>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4"><strong style="color:white">{{carousel.titre}}{{carousel.titreSerie}}</strong></p>
							</div>
						</div>
						<div class="content" style="color:white">
							{{$t('Pages.Slider.popularite')}}<strong style="color:Orange" v-if="carousel.popularity < 6.5 && carousel.popularity > 4.4">{{carousel.popularity}} / 10</strong>
							<strong style="color:Tomato" v-else-if="carousel.popularity < 4.4">{{carousel.popularity}} / 10</strong>
							<strong style="color:MediumSeaGreen" v-else>{{carousel.popularity}} / 10</strong>
							<br />
							<time datetime="1-1-2016">{{$t('Pages.Slider.dateSortie')}}<strong style="color:white; margin-bottom:156%">{{carousel.realise}}{{carousel.sortieSerie}}</strong></time>
						</div>
					</div>
				</div>
			</b-carousel-item>
		</b-carousel>
	</div>
</template>

<script>
export default {
	name: "Slider",
	props: {
		info: {}
	},
	data() {
		return {
			carousels: [],
			recom: {}
		};
	},
	created() {
		this.recom = this.info;
		console.log(this.recom);
		for (let i = 0; i < this.recom.length; i++) {
			this.carousels.push({
				url:"http://image.tmdb.org/t/p/w185" +
					this.recom[i].poster_path,
				titre: this.recom[i].title,
				titreSerie : this.recom[i].name,
				realise : this.recom[i].release_date,
				sortieSerie: this.recom[i].first_air_date,
				popularity : this.recom[i].vote_average
			});
		}
	}
};
</script>

<style scoped>
.image.is-square {
	position: relative;
	width: 95%;
	margin-left: 2%;
	height: 100%;
}

div.carousel-indicator.is-inside {
	bottom: -26px !important;
	position: relative;
	z-index: 1;
}

.carousel .carousel-indicator {
	width: 100%;
	margin-bottom: -13%;
	padding: 0rem;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

/* Child Text Container */
.image.is-square div {
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	color: rgb(240, 128, 212);
	font-family: sans-serif;
	font-weight: bold;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: visibility 0s, opacity 0.5s linear;
	transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.image.is-square:hover {
	cursor: pointer;
}

.image.is-square:hover div {
	width: 100%;
	padding: 8px 15px;
	visibility: visible;
	opacity: 0.7;
}
</style>