<template>
  <div>
    <div class="videos">
      <ul class="videos__list">
        <li v-for="(video, index) in videos" style="border: 1px solid black" :key="index" class="videos__item">
          <LazyYoutubeVideo :url="urlF"/>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import LazyYoutubeVideo from "vue-lazy-youtube-video";

export default {
  name: "VideoPlayer",
  components: {
    LazyYoutubeVideo
  },
  props:{
    urlFilm: String
  },
  data() {
    return {
      urlF: "",
      videos: [
        {
          url: "https://www.youtube.com/watch?v=8kVI621fZug",
          previewImageSize: "maxresdefault"
        }
      ]
    };
  },
  created() {
          this.urlF = this.urlFilm
  },
};
</script>

<style lang="scss">
$gap: 20px;

#app {
  font-family: sans-serif;
}

.h1 {
  text-align: center;
  color: #34495e;
}

p {
  text-align: center;
}

.videos {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    margin: {
      top: 0;
      bottom: 0;
    }
    list-style: none;
  }

  &__item {
    width: calc(50% - #{$gap / 2});

    &:nth-child(n + 3) {
      margin-top: $gap;
    }
  }
}
</style>